.wave-1 {
  animation: 0.9s linear 0.1s wave-1;
  animation-iteration-count: infinite;
}

.wave-2 {
  animation: 0.9s linear 0.1s wave-2;
  animation-iteration-count: infinite;
}

@keyframes wave-1 {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}

@keyframes wave-2 {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}
